* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

/* --------------Header Section-------------- */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #001730;
    color: white;
}

#home {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

#home p {
    font-size: 2.4rem;
}

.name {
    position: relative;
    animation: fadeIn 1s forwards;
}

.name span {
    color:#06d6a0;
}

.name span:hover {
    animation: rainbowColor 1s infinite;
}

.introStatement {
    opacity: 0;
    position: relative;
    animation: fadeIn 1s forwards;
    animation-delay: 1.5s;
}

#home button {
    color: white;
    font-size: 2rem;
    opacity: 0;
    border: .2rem solid #06d6a0;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 2rem 0px 0px;
    background: linear-gradient(to left, transparent 50%, #06d6a0 50%) right bottom / 200%;
    background-position: right bottom;
    transition: all 1s ease 0s;
    animation: fadeIn 3s forwards;
    animation-delay: 3s;
}

#home button:hover {
    background-position: left bottom;
    cursor: pointer;
}

#home button i {
    color: #06d6a0;
    font-size: 2rem;
    margin: 0 .5rem 0 1rem;
}

#home button:hover i {
    animation: rainbowColor 1s infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        top: -10rem;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

@keyframes rainbowColor {
    0% {color:#06d6a0}
    16.66% {color:#ffff00}
    33.32% {color:#ff7f00}
    49.98% {color:#ff0000}
    66.64% {color:#9400d3}
    83.24% {color:#4b0082}
    99.9% {color:#0000ff}
}

/* --------------Navbar-------------- */
nav {
    background-color: #073b4c;
    display: flex;
    justify-content: center;
    opacity: 95%;
}

nav div button {
    background-color: transparent;
    margin: 1.8rem;
    border: none;
}

nav div button:hover {
    cursor: pointer;
}

nav div button a {
    text-decoration: none;
    color: #06d6a0;
    font-size: 1.6rem;
}

nav div button:hover a {
    color: #ffd166;
}

div {
    color: #ffd166 #ef476f #06d6a0 #118ab2 #073b4c
}
